body{font-family: 'Roboto Condensed', sans-serif;padding-bottom:40px;}
a:visited{color: #0A0A0A;}
div{border:0px solid}
h1{font-size: 30px;color:#0A0A0A;margin:5px 0 5px 0;}
h2{font-size: 20px;font-weight: bold;color:#4D4D4D}
h3{font-size: 18px;font-weight: bold; font-style: italic }
.blackbold{font-weight: bold;}
.bold{font-weight: bold; color: #bfffbf}
.italic{font-style: italic;}
.clear{clear: both;}
.center{text-align: center;}
.img_flag{height: 20px;}
.hide{display: none;}
.no_decoration{text-decoration: none;}
#page{width:100%; margin: 0 auto;}
#head{width: 1250px; height:94px;  z-index: 100;  background-color: white; padding-top:5px; margin: 0 auto;}
#header_text{width: 1250px; min-height:50px;  z-index: 100;  background-color: white; padding-top:5px; margin: 0 auto;}
#content{width: 1400px; height:880px; z-index: 100;margin:auto; background: url("../Images/CO2_background.jpg") no-repeat scroll center 0px; }
#footer{width: 1250px; height:540px; position: relative; left: 0; right: 0; z-index: 9999;  width: 1250px;  margin:auto;background-color: white;}
#head_container{float: left;width: 100%}
#logo{float: left;width: 40%;text-align: left;}
#svg_logo{height: 40px;}
#flag{float: right;width: 40%;text-align: right}
#title{float: left;width: 100%;text-align: center;text-transform: uppercase; }
#data{ position: relative; left: 0; right: 0; z-index: 9999;  width: 1250px;  margin:auto;}
.section{width: 100%;padding-top:10px;}
.calculate_part{width: 40%;}
.input_part{float:left;padding-bottom: 20px;padding-left:20px;margin:0px 20px 10px 0;width: 720px;background-color: #D7D6DC;font-size:16px;}
.box{float:left;padding-bottom: 20px;width:100px;margin-bottom:20px;margin-right:20px;background-color:#4D4D4D; text-align:center;color: #FEFEFE;}
.doublebox{float:left;padding-bottom: 20px;width:220px;margin-bottom:20px;margin-right:20px;background-color:#4D4D4D; text-align:center;color: #FEFEFE;}
.nobox{float:left;padding-bottom: 20px;width:100px;margin-bottom:20px;margin-right:20px; text-align:center;}
.line24{height: 24px;}
.line78{height: 78px;}
.question{float: left; width: 55%; color:#4D4D4D;border-bottom: 1px dashed #eee;}
.answer{float: left;color:#4D4D4D; width:40%;text-align: left;}
.div_subtotal{float:left;width:437px;height:150px;font-weight: bold; text-align: center;background-color: #D8D7DC; }
.subtotal{font-size: 50px;font-weight: bold;}
.subtotal h3{font-size:40px;padding-bottom:5px;}
.total{color:red;}
.div_total{width:500px;}
.div_equiv{float:left;width:410px;height:100px;font-weight: bold; text-align: center;}
.div_image{height: 50px;padding-left:180px;}
.div_equivtotal{width:340px;}
input { border-radius:5px; padding:2px}
select { border-radius:5px;padding:2px}
.tableauImpact {z-index: 100; font-size: 18px; font-weight: 600; color: #333; width: 100%;text-align: center;margin:auto;padding-top:50px;}
.ges2, .ges4 { display:inline-block;  border-radius: 10px; font-weight: 600; color: #fff; background-color: #6E9A1D; padding:8px; text-align: center;}
div.barreEco{top:30px}
div.bloc_graph{position:relative;width:60%;margin:auto;height:40px;margin-top:20px}
div.barre{border-radius:10px;position:absolute;width:80%;right:10%;left:10%;margin:0 10px;height:10px;background-color:#999}
.barre_eco_A{background-color:#349a47!important;top:30px!important}
.barre_eco_B{background-color:#51b84b!important;top:30px!important}
.barre_eco_C{background-color:#cadb2a!important;top:30px!important}
.barre_eco_D{background-color:#f6eb15!important;top:30px!important}
.barre_eco_E{background-color:#fecd06!important;top:30px!important}
.barre_eco_F{background-color:#f99839!important;top:30px!important}
.barre_eco_G{background-color:#ed2124!important;top:30px!important}
.labelHaut{font-weight:300;top:0;background-color:#fff;color:#6e9a1d;border:2px solid #6e9a1d}
.labMoyenne{left:30%;margin:0 -10px}
.lab{border-radius:10px;padding:5px;position:absolute;white-space:nowrap;font-size:12px}
.bg-pt {width: 30px;height: 20px;float:left;padding-right:10px;background: url('../Images/css_sprites.png') -227px -10px;}
.bg-total_post {width: 29px;height: 150px;float:left;background: url('../Images/css_sprites.png') -10px -10px;}
.bg-total_pre {width: 29px;height: 150px;float:left;background: url('../Images/css_sprites.png') -59px -10px;}
.bg-tree {width: 46px;height: 40px;text-align:center;background: url('../Images/css_sprites.png') -108px -10px;}
.bg-uk {width: 33px;height: 20px;float:left;padding-right:10px;background: url('../Images/css_sprites.png') -174px -50px;}
.bg-esp {width: 30px;height: 20px;float:left;padding-right:10px;background: url('../Images/css_sprites.png') -174px -90px;}
.bg-fr {width: 30px;height: 20px;float:left;padding-right:10px;background: url('../Images/css_sprites.png') -174px -130px;}
.bg-germ {width: 33px;height: 20px;float:left;padding-right:10px;background: url('../Images/css_sprites.png') -174px -10px;}
.bg-jacket {width: 40px;height: 54px;background: url('../Images/css_sprites.png') -108px -130px;}
.bg-lightpng {width: 40px;height: 46px;background: url('../Images/css_sprites.png') -108px -70px;}
.bg-anchor {width: 15px;height: 15px;float: right;background: url('../Images/css_sprites.png') -227px -50px;}
#epeat{height: 34px;width:50px;float:right;}
#tco{height: 34px;width:50px;float:right;background: url('../Images/tco_label.png')}
/*Tooltip*/
/* Tooltip container */
.tooltip {color:#4D4D4D; width:20px;background: url('../Images/bulb.png');position: relative;display: inline-block;border-bottom: 1px dotted black; text-decoration: none;}
.tooltip .tooltiptext {visibility: hidden;width: 250px;background-color: #555;color: #fff;text-align: center;padding: 5px 0;border-radius: 6px;position: absolute;z-index: 1;bottom: 125%;left: 50%;margin-left: -60px;opacity: 0;transition: opacity 0.3s;}
.tooltip .tooltiptext::after {content: "";position: absolute;top: 100%;left: 50%;margin-left: -5px;border-width: 5px;border-style: solid;border-color: #555 transparent transparent transparent;}
.tooltip:hover .tooltiptext {visibility: visible;opacity: 1;}
/*Factor explaination*/
.co2_explaination{float:left;font-size: 11px;width: 100%;text-align: center;margin:auto;padding-top:10px;padding-left:50px;}
.co2_explaination ul {list-style-type: none;float:left;width:100%;text-align: center;}
.li_col{float:left;width:20%}
#detail_source{float: left;text-align: left;width: 100%; width: 100%;text-align: center;margin:auto;padding-top:10px; font-size: 12px;}